<a href="https://colab.research.google.com/github/mugsiemx/deep-learning-challenge/blob/main/Startups_Funding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# import the repository for the csv file
! git clone https://github.com/mugsiemx/deep-learning-challenge

Cloning into 'deep-learning-challenge'...
remote: Enumerating objects: 50, done.
remote: Counting objects: 100% (50/50), done.
remote: Compressing objects: 100% (43/43), done.
remote: Total 50 (delta 22), reused 16 (delta 4), pack-reused 0
Unpacking objects: 100% (50/50), 1.40 MiB | 4.34 MiB/s, done.

In [17]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import dask.dataframe as dd
import pandas as pd
import tensorflow as tf

# #  Import and read the charity_data.csv.
# import pandas as pd 
# application_df = pd.read_csv("/Resources/charity_data.csv")
# application_df.head()

# read the CSV file from the Resources folder into a dask DataFrame
## change the data types to strings and integers
%time df = dd.read_csv('/content/deep-learning-challenge/Resources/charity_data.csv', low_memory=False,\
                       dtype={'APPLICATION_TYPE': 'string[pyarrow]','AFFILIATION': 'string[pyarrow]','CLASSIFICATION': 'string[pyarrow]',\
                              'USE_CASE': 'string[pyarrow]','ORGANIZATION': 'string[pyarrow]','STATUS': 'int','INCOME_AMT': 'string[pyarrow]',\
                              'SPECIAL_CONSIDERATIONS': 'string[pyarrow]'}\
                       )
# review the DataFrame
df.dtypes, df.shape

CPU times: user 21.7 ms, sys: 2 ms, total: 23.7 ms
Wall time: 28.1 ms

(EIN                        int64
 NAME                      object
 APPLICATION_TYPE          string
 AFFILIATION               string
 CLASSIFICATION            string
 USE_CASE                  string
 ORGANIZATION              string
 STATUS                     int64
 INCOME_AMT                string
 SPECIAL_CONSIDERATIONS    string
 ASK_AMT                    int64
 IS_SUCCESSFUL              int64
 dtype: object,
 (Delayed('int-0757bc05-b7c3-4ca8-89cb-11a59734d0f9'), 12))

In [18]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = df.drop(['EIN','NAME'], axis=1)
df.info(), df.dtypes

<class 'dask.dataframe.core.DataFrame'>
Columns: 10 entries, APPLICATION_TYPE to IS_SUCCESSFUL
dtypes: int64(3), string(7)

(None,
 APPLICATION_TYPE          string
 AFFILIATION               string
 CLASSIFICATION            string
 USE_CASE                  string
 ORGANIZATION              string
 STATUS                     int64
 INCOME_AMT                string
 SPECIAL_CONSIDERATIONS    string
 ASK_AMT                    int64
 IS_SUCCESSFUL              int64
 dtype: object)

In [19]:
# create DataFrame with compute
application_df = df.compute()
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [20]:
# missing data
# application_df.isnull

In [21]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [22]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: Int64

In [23]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = app_counts[app_counts < 500].index.values
    
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: Int64

In [24]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: Int64

In [25]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# listed all counts for counts in number of classifications for each classification (1000 is our 'Other' bin point)
c = ((application_df['CLASSIFICATION'].value_counts()).value_counts().sort_values(ascending=False))
c

1        26
2         5
3         3
6         3
32        2
5         2
9         2
10        2
15        2
194       1
104       1
114       1
116       1
1918      1
287       1
777       1
1883      1
75        1
4837      1
95        1
17326     1
58        1
50        1
36        1
6074      1
30        1
20        1
18        1
16        1
14        1
11        1
7         1
34        1
Name: CLASSIFICATION, dtype: Int64

In [26]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_counts[class_counts < 1000].index.values

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: Int64

In [27]:
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [28]:
# Convert categorical data to numeric with `pd.get_dummies`
clean_df = pd.get_dummies(application_df)
clean_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [29]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 44 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   STATUS                        34299 non-null  int64
 1   ASK_AMT                       34299 non-null  int64
 2   IS_SUCCESSFUL                 34299 non-null  int64
 3   APPLICATION_TYPE_Other        34299 non-null  uint8
 4   APPLICATION_TYPE_T10          34299 non-null  uint8
 5   APPLICATION_TYPE_T19          34299 non-null  uint8
 6   APPLICATION_TYPE_T3           34299 non-null  uint8
 7   APPLICATION_TYPE_T4           34299 non-null  uint8
 8   APPLICATION_TYPE_T5           34299 non-null  uint8
 9   APPLICATION_TYPE_T6           34299 non-null  uint8
 10  APPLICATION_TYPE_T7           34299 non-null  uint8
 11  APPLICATION_TYPE_T8           34299 non-null  uint8
 12  AFFILIATION_CompanySponsored  34299 non-null  uint8
 13  AFFILIATION_Family/Parent     34299 non-null  uint8
 14  AFFILIATION_Independent       34299 non-null  uint8
 15  AFFILIATION_National          34299 non-null  uint8
 16  AFFILIATION_Other             34299 non-null  uint8
 17  AFFILIATION_Regional          34299 non-null  uint8
 18  CLASSIFICATION_C1000          34299 non-null  uint8
 19  CLASSIFICATION_C1200          34299 non-null  uint8
 20  CLASSIFICATION_C2000          34299 non-null  uint8
 21  CLASSIFICATION_C2100          34299 non-null  uint8
 22  CLASSIFICATION_C3000          34299 non-null  uint8
 23  CLASSIFICATION_Other          34299 non-null  uint8
 24  USE_CASE_CommunityServ        34299 non-null  uint8
 25  USE_CASE_Heathcare            34299 non-null  uint8
 26  USE_CASE_Other                34299 non-null  uint8
 27  USE_CASE_Preservation         34299 non-null  uint8
 28  USE_CASE_ProductDev           34299 non-null  uint8
 29  ORGANIZATION_Association      34299 non-null  uint8
 30  ORGANIZATION_Co-operative     34299 non-null  uint8
 31  ORGANIZATION_Corporation      34299 non-null  uint8
 32  ORGANIZATION_Trust            34299 non-null  uint8
 33  INCOME_AMT_0                  34299 non-null  uint8
 34  INCOME_AMT_1-9999             34299 non-null  uint8
 35  INCOME_AMT_10000-24999        34299 non-null  uint8
 36  INCOME_AMT_100000-499999      34299 non-null  uint8
 37  INCOME_AMT_10M-50M            34299 non-null  uint8
 38  INCOME_AMT_1M-5M              34299 non-null  uint8
 39  INCOME_AMT_25000-99999        34299 non-null  uint8
 40  INCOME_AMT_50M+               34299 non-null  uint8
 41  INCOME_AMT_5M-10M             34299 non-null  uint8
 42  SPECIAL_CONSIDERATIONS_N      34299 non-null  uint8
 43  SPECIAL_CONSIDERATIONS_Y      34299 non-null  uint8
dtypes: int64(3), uint8(41)
memory usage: 2.1 MB

In [30]:
# Split our preprocessed data into our features and target arrays
y = clean_df.IS_SUCCESSFUL.values
X = clean_df.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [31]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [33]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3520

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [35]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [41]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7419
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7416
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7414
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5337 - accuracy: 0.7424
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5330 - accuracy: 0.7420
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7419
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7420
Epoch 8/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5325 - accuracy: 0.7421
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5338 - accuracy: 0.7423
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7423
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7420
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7419
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7419
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5326 - accuracy: 0.7418
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7421
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7415
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7424
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5339 - accuracy: 0.7423
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5324 - accuracy: 0.7424
Epoch 20/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5327 - accuracy: 0.7419
Epoch 21/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5323 - accuracy: 0.7423
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7422
Epoch 23/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5330 - accuracy: 0.7422
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5328 - accuracy: 0.7423
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7428
Epoch 26/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5326 - accuracy: 0.7419
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7416
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7427
Epoch 29/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5329 - accuracy: 0.7426
Epoch 30/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5323 - accuracy: 0.7422
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7424
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7427
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7427
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7425
Epoch 35/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5324 - accuracy: 0.7420
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7427
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7423
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7430
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7426
Epoch 40/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5329 - accuracy: 0.7425
Epoch 41/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5321 - accuracy: 0.7423
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7427
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7420
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7427
Epoch 45/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5318 - accuracy: 0.7430
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5321 - accuracy: 0.7423
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7425
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7424
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7421
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7425
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5323 - accuracy: 0.7428
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7425
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7423
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7421
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7418
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5328 - accuracy: 0.7426
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7430
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5318 - accuracy: 0.7428
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7423
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7419
Epoch 61/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5320 - accuracy: 0.7421
Epoch 62/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5317 - accuracy: 0.7426
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7419
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7430
Epoch 65/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5316 - accuracy: 0.7427
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5320 - accuracy: 0.7422
Epoch 67/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5321 - accuracy: 0.7427
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7420
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7424
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7428
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7416
Epoch 72/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5319 - accuracy: 0.7424
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5318 - accuracy: 0.7427
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5318 - accuracy: 0.7421
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7425
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7423
Epoch 77/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5322 - accuracy: 0.7422
Epoch 78/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5360 - accuracy: 0.7424
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7427
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7424
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7429
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7427
Epoch 83/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5316 - accuracy: 0.7427
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5315 - accuracy: 0.7424
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7426
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5314 - accuracy: 0.7425
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5314 - accuracy: 0.7425
Epoch 88/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5327 - accuracy: 0.7427
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5315 - accuracy: 0.7427
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7425
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7427
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7429
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7423
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5314 - accuracy: 0.7428
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5318 - accuracy: 0.7427
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7427
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7426
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7426
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7429
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7425

In [43]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5777 - accuracy: 0.7256 - 513ms/epoch - 2ms/step
Loss: 0.5777093172073364, Accuracy: 0.7255976796150208

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE